<?xml version="1.0" encoding="utf-8"?>
<Configuration>
<Email Ids=""/>
<DeviceUsb ip="169.254.0.1" password="qaqa2"/>
<DeviceWifi ip="" password=""/>
<Simulator ip="192.168.120.130" password=""/>
<Signing cskPassword="qaqaqa" developerCertificatePassword="xcxcxc"/>

<!-- support regulax expression  version=".*10.2"    -->
<TargetVersion version=""/>

</Configuration>
